/* font work sans  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

/* ---------------Header section Start-------------------------- */
.header {
    background: rgba(255, 144, 14, 0.1);
    height: 1322px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 120px 80px 120px;
}

nav>ul {
    display: flex;
    list-style: none;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #424242;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    position: relative;

}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #FF900E;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 3s;

}

nav ul li a:hover::after {
    width: 100%;
}

.banner {
    text-align: center;


}

.header-banner {
    font-size: 64px;
    text-align: center;
    margin-bottom: 20px;
}

.banner-discription {
    color: #727272;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 55px;
}

/* ---------------Primary button Start-------------------------- */
.btn {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    background: #FF900E;
    padding: 20px 24px;
    text-decoration: none;
    color: #fdfdfd;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px;
    rgba(0, 0, 0, 0.1) -wabkit-transition-duration;
    0.3s transition-duration: 0.3s -wabkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover,
.btn:focus,
.btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

/* ---------------Primary button End-------------------------- */
.bg-image {
    margin-top: 70px;
    align-items: center;

}

/* banner section */

/* ----------------------------Header section End ------------------------------------------ */

/* -------------------------------about container start--------------------------------- */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;

}

.a-image {
    border-radius: 5px;
}

.Features {
    margin-left: 70px;
}

.f-title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.f-title .list {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}

.f-title span {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.feature-discription {
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 16px;
}

.button {
    border-radius: 8px;
    background: #FF900E;
    width: 180px;
    height: 64px;
    border-color: #FF900E;
}

/* ------------------------------- 
about container End
--------------------------------- */

/* ------------------------------- 
main container Start
--------------------------------- */

.exprience {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    margin: 20px 100px 100px 100px;
}

.texts {
    margin-right: 54px;
}

.exprience-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 43px;
}

.exprience-discription {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.exprience-subtitle {
    color: #131313;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
}

.exprience-sub-discription {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 60px;
}

.exprience-image {
    height: 1050px;
}

/* ------------------------------- 
main container End
--------------------------------- */

/* ------------------------------- Facts container Start--------------------------------- */

.facts {
    margin-left: 100px;
}

.facts-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 24px;

}

.facts-discription {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 100px;
}

.box-container {
    display: flex;
    width: 1200px;
    gap: 50px;
    margin: 0 auto;

}

.box {
    box-sizing: border-box;
    width: 250px;
    height: 231px;
    border: 1px solid #FF900E;
    border-radius: 8px;

}

.box-in {
    margin-top: 55px;
    text-align: center;
    gap: 20px;
}


/* ------------------------------- 
Facts container End
--------------------------------- */

/* ------------------------------- Sponspors container start--------------------------------- */

.sponspors {
    text-align: center;
}

.sponspors-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;

}

.sponspors-discription {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
}

.logo-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
}

/* ------------------------------- 
Sponspors container End
--------------------------------- */

.footer-box {
    background: #FFF4E7;
    border-radius: 8px;
    width: 1100px;
    height: 80px;
    margin-top: 130px;
    margin-bottom: 220px;
    margin-left: 120px;
    padding: 35px 35px;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    text-align: center;

}

